.website-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b4b4b4;
}

.website-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.error-border {
  border-left: 0.4rem solid var(--error, #fc5200);
  padding-left: 1rem;
}

.last-checked {
  margin-right: 3rem;
}

@media (max-width: 480px) {
  .actions {
    width: 100%;
  }
  .last-checked {
    width: 100%;
    margin-right: 0;
  }
}
