@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap");

:root {
  --text: #181818;
  --muted: #b4b4b4;
  --disclaimer: #505050;
  --blue: #00466e;
  --turquoise: #006b6e;
  --green: #058423;
  --cyan: #87e7ff;
  --error: #fc5200;
}

.button:focus,
.input:focus,
.textarea:focus,
.select select:focus,
.file-cta:focus,
.file-name:focus,
.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus,
.pagination-ellipsis:focus,
.is-focused.button,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.is-focused.file-cta,
.is-focused.file-name,
.is-focused.pagination-previous,
.is-focused.pagination-next,
.is-focused.pagination-link,
.is-focused.pagination-ellipsis,
.button:active,
.input:active,
.textarea:active,
.select select:active,
.file-cta:active,
.file-name:active,
.pagination-previous:active,
.pagination-next:active,
.pagination-link:active,
.pagination-ellipsis:active,
.is-active.button,
.is-active.input,
.is-active.textarea,
.select select.is-active,
.is-active.file-cta,
.is-active.file-name,
.is-active.pagination-previous,
.is-active.pagination-next,
.is-active.pagination-link,
.is-active.pagination-ellipsis {
  outline: none;
}

.button[disabled],
.input[disabled],
.textarea[disabled],
.select select[disabled],
.file-cta[disabled],
.file-name[disabled],
.pagination-previous[disabled],
.pagination-next[disabled],
.pagination-link[disabled],
.pagination-ellipsis[disabled],
fieldset[disabled] .button,
fieldset[disabled] .input,
fieldset[disabled] .textarea,
fieldset[disabled] .select select,
.select fieldset[disabled] select,
fieldset[disabled] .file-cta,
fieldset[disabled] .file-name,
fieldset[disabled] .pagination-previous,
fieldset[disabled] .pagination-next,
fieldset[disabled] .pagination-link,
fieldset[disabled] .pagination-ellipsis {
  cursor: not-allowed;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.button,
.file,
.breadcrumb,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
.tabs,
.is-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text, #181818);
}

.container {
  margin-left: 4rem;
  margin-right: 4rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.row.vertical-center {
  align-items: center;
}

.full-width {
  width: 100%;
}

.text-muted {
  color: var(--muted, #b4b4b4);
}

.text-disclaimer {
  color: var(--disclaimer, #505050);
  line-height: 1.15;
}

.footer-info {
  margin: 2rem auto;
}

@media (max-width: 480px) {
  .container {
    margin-left: 1rem;
  margin-right: 1rem;
  }
  .row {
    flex-direction: column;
  }
}
